{% extends 'base.html' %}

{% block body %}
<!-- Bootstrap form for adding a student -->
<div class="container mb-5">
  <div class="row">
 {% include 'sidebar.html' %}
    <div class="col-md-10">
      <div class="content">
        <div class="row">
            <div class="col-md-6">
    
    <h2>Add Teacher</h2>
    <form method="POST" action="">{% csrf_token %}
      <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" class="form-control" id="name" name="name" placeholder="Enter name" required>
      </div>
    
      <div class="form-group">
        <label for="phone">Department:</label>
        <input type="text" class="form-control" id="department" name="department" placeholder="Enter Department" required>
      </div>
      <div class="form-group">
        <label for="phone">Phone:</label>
        <input type="tel" class="form-control" id="number" name="number" placeholder="Enter phone number" required>
      </div>
      <div class="form-group">
        <label for="address">Address:</label>
        <textarea class="form-control mb-2" id="address" name="address" rows="3" required></textarea>
      </div>
      <div class="form-group">
        <label for="birthdate">Email</label>
        <input type="email" class="form-control" id="email" name="email" required>
      </div>
      <button type="submit" class="btn btn-primary">Add</button>
    </form>
  </div>
</div>
</div>
  
{% endblock body %}
