{% extends 'base.html' %}
{% block body %}
  <style>
     .sidebar {
      height: 100%;
      width: 200px;
      position: fixed;
      top: 0;
      left: 0;
      background-color: #f5f5f5;
      padding: 15px;
    }
    
    .content {
      margin-left: 200px;
      padding: 15px;
    }
    .sidebar {
      height: 100%;
      width: 200px;
      position: fixed;
      top: 0;
      left: 0;
      background-color: #f5f5f5;
      padding: 15px;
    }
    
    .content {
    
      margin-left: auto;
      padding: 15px;
    }
    table {
        border-collapse: collapse;
        width: 100%;
      }
      th, td {
        text-align: left;
        padding: 8px;
      }
      th {
        background-color: #3c3c3c;
        color: white;
      }
      tr:nth-child(even) {
        background-color: #f2f2f2;
      }
      @media screen and (max-width: 768px) {
        .sidebar {
            display: none;
        }
       
      }
      
  </style>
<div class="row">
  {% include 'sidebar.html'%}
    <div class="col-md-10 mb-4">
      <div class="container-fluid">

        <div class="card mb-4">
          <div class="card-body">
    
            <h4 class="card-title">{{school.name}}</h4>
            <h6 class="card-subtitle mb-2 text-muted">{{school.address}}</h6>
    
            <hr>
    
            <div class="row">
              <div class="col-md-6">
              
                <p><strong>Phone:</strong> {{school.number}}</p>
                <p><strong>Facebook:</strong> www.facebook.com/schoolname</p>
              </div>
              <div class="col-md-6">
                <p><strong>Office Hours:</strong> Monday - Friday, 8am - 4pm</p>
                <p><strong>Website:</strong> www.schoolname.com</p>
              
              </div>
            </div>
    
          </div>
        </div>
    
        <div class="row mb-4">
          <div class="col-sm-6 col-md-4 mb-4">
            <div class="card mb-2">
              <div class="card-header">
                Total Students
              </div>
              <div class="card-body">
                <h4 class="card-title">{{students}}</h4>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-4">
            <div class="card">
              <div class="card-header">
                Total Teachers
              </div>
              <div class="card-body">
                <h4 class="card-title">{{teachers}}</h4>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-4">
            <div class="card">
              <div class="card-header">
                Total Subjects
              </div>
              <div class="card-body">
                <h4 class="card-title">{{subjects}}</h4>
              </div>
            </div>
          </div>
        </div>
        
        <div class="row mt-4">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                Latest Activities
              </div>
              <div class="card-body">
                <ul class="list-group">
                  <li class="list-group-item"></li>
                 
                </ul>
              </div>
            </div>
          </div>
        </div>
    
      </div>
  </div>
  
  {% endblock body %}