<div class="col-md-2">
    <div class="sidebar">
      <h4>StudentTrack</h4>
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link active" href="/addstudent">Add Student</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/studentslist">Students List</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/addsubject">Add Subject</a>
          </li>
        <li class="nav-item">
          <a class="nav-link" href="/subjectslist">Subjects List</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/addresult">Add Result</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/resultrank">Results</a>
        </li>
        
      </ul>
    </div>
  </div>