
<div class="col-md-2">
    <div class="sidebar">
      <h4>StudentTrack</h4>
      <div class="flex-shrink-0">
        
      </div>
      {% if user.is_authenticated %}
      <div class="flex-grow-1 ms-3">
        <h5 class="mb-1">{{user.username}}</h5>
        <p class="mb-2 pb-1" style="color: #2b2a2a;">Admin</p>
        
        </div>
      {% endif %}
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link active" href="/">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/addstudent">Add Student</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/studentslist">Students List</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/addteacher">Add Teacher</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/teacherslist">Teachers List</a>
        </li>
        
        <li class="nav-item">
            <a class="nav-link" href="/addsubject">Add Subject</a>
          </li>
        <li class="nav-item">
          <a class="nav-link" href="/subjectslist">Subjects List</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/addresult">Add Result</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/resultrank">Result Ranking</a>
        </li>
        <a href="/settings" class="btn btn-primary">Settings</a>
        <div class="d-flex justify-content-start rounded-3 p-2 mb-2"
          style="background-color: #efefef;">
          <button class="btn btn-sm btn-danger">
            <a href="/userlogout">
              Logout
            </a>
          </button>
          </div>
      </ul>
    </div>
  </div>